@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrow.woff2") format("woff2"), url("../fonts/PTSansNarrow.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrowBold.woff2") format("woff2"), url("../fonts/PTSansNarrowBold.woff") format("woff");
}
body {
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #353535;
}
img {
  max-width: 100%;
  height: auto;
}
.visual-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header__logo {
  text-align: center;
  width: 100%;
  height: 400px;
  background-color: #000000;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: -1800px top;
}
.page-header__logo img {
  width: 315px;
  height: 110px;
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
    min-height: 70px;
    padding-bottom: 400px;
    background-color: #000000;
  }
  .page-header__logo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
    background-position: center 0px;
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .page-header {
    padding-bottom: 648px;
  }
  .page-header__logo {
    height: 648px;
    background-size: cover;
  }
  .page-header__logo img {
    bottom: 438px;
  }
}
.main-navigation {
  position: relative;
  width: 320px;
  min-height: 51px;
  margin: -280px auto;
  background-color: #81602a;
}
.main-navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0;
  background-color: #81602a;
  cursor: pointer;
  border: none;
}
.main-navigation__toggle:hover {
  background-color: #81602a;
}
.main-navigation__toggle:active {
  background-color: #81602a;
}
.main-navigation__items,
.main-navigation__user-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 8px 0 0 #FFFFFF,
              0 16px 0 0 #FFFFFF;
}
.main-navigation--closed .main-navigation__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-navigation--opened .main-navigation__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-navigation--opened .main-navigation__toggle::before,
.main-navigation--opened .main-navigation__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #FFFFFF;
}
.main-navigation--opened .main-navigation__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-navigation--opened .main-navigation__toggle::after {
  transform: rotate(-45deg);
}
.main-navigation--opened .main-navigation__toggle:active::before,
.main-navigation--opened .main-navigation__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-navigation__items {
  font-weight: bold;
}
.main-navigation__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81602a;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}
.main-navigation__item a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46;
}
.main-navigation__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38;
}
.main-navigation__social-links {
  font-size: 0;
}
.main-navigation__social-link {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  padding-bottom: 10px;
  width: 33.33333333%;
  min-width: 50px;
  min-height: 32px;
  background-image: url("../img/svg/icons-social.svg");
  background-repeat: no-repeat;
  background-size: 32px 264px;
  background-position: 50% 32px;
}
.main-navigation__social-link--vk {
  background-position-y: 5px;
}
.main-navigation__social-link--fb {
  background-position-y: -83px;
}
.main-navigation__social-link--inst {
  background-position-y: -171px;
}
.main-navigation__social-link:active {
  opacity: 0.3;
}
.main-navigation__social-link:hover {
  background-color: #755a46;
}
.main-navigation__user-item {
  display: inline;
}
@media (max-width: 767px) {
  .main-navigation--closed .main-navigation__item {
    display: none;
  }
  .main-navigation--closed .main-navigation__item--active {
    display: block;
  }
  .main-navigation--closed .main-navigation__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-navigation--closed .main-navigation__user-item {
    display: none;
  }
  .main-navigation--opened .main-navigation__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    height: 80vh;
    background-color: #81602a;
  }
  .main-navigation--opened .main-navigation__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }
  .main-navigation--nojs .main-navigation__wrapper {
    position: static;
    height: auto;
  }
  .main-navigation--nojs .main-navigation__item {
    display: block;
  }
  .main-navigation--nojs .main-navigation__user-item {
    display: inline-block;
  }
  .main-navigation--nojs .main-navigation__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: center;
  }
  .main-navigation--nojs .main-nav__user-items {
    display: block;
    background-color: #81602a;
  }
}
@media (min-width: 768px) {
  .main-navigation {
    width: auto;
    min-height: 70px;
    margin: 0;
    background-color: #000000;
  }
  .main-navigation__wrapper {
    width: 320px;
    margin: 0 auto;
  }
  .main-navigation__wrapper::after {
    content: "";
    display: table;
    clear: both;
  }
  .main-navigation__toggle {
    display: none;
  }
  .main-navigation__items {
    float: left;
    width: 480px;
  }
  .main-navigation__user-items {
    display: inline-block;
  }
  .main-navigation__item {
    float: left;
    margin-right: 0;
  }
  .main-navigation__item--active::after {
    right: 30px;
    left: 30px;
  }
  .main-navigation__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    padding-right: 25px;
    padding-left: 25px;
    background: none;
    border: none;
  }
  .main-navigation__item a[href]:hover {
    color: #d5a353;
    background-color: #3b3a3a;
  }
  .main-navigation__item a[href]:active {
    color: #FFFFFF;
    background-color: #3b3a3a;
    opacity: 0.3;
  }
  .main-navigation__social-link {
    width: auto;
    height: 50px;
    margin: 0;
    padding: 0;
    border: none;
    background-size: 32px 180px;
  }
  .main-navigation__social-link--vk {
    background-position-y: 14px;
  }
  .main-navigation__social-link--fb {
    background-position-y: -46px;
  }
  .main-navigation__social-link--inst {
    background-position-y: -106px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main-navigation__wrapper {
    width: 640px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .main-navigation__wrapper {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .main-navigation__items {
    width: 780px;
  }
  .main-navigation__user-items {
    width: auto;
    max-width: 160px;
  }
}
