@bg-color: white;
@mobile-width-only: ~"(max-width: 767px)";
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1200px)";

@color-background-menu: #81602a;
@color-closed-menu: #c09756;

@color-white: #ffffff;
@color-black: #000000;
@color-grey:  #353535;

@color-bg-lightgrey: #f8f5f2;

@font-family-regular: PTSans, Arial, sans-serif;
@font-family-bold: PTSansBold, Arial, sans-serif;
