.main-navigation {
  position: relative;
  width: auto;
  min-height: 51px;
  margin: -380px auto;
  background-color: @color-background-menu;
}

.main-navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0;

  background-color: @color-background-menu;

  cursor: pointer;
  border: none;

  &:hover {
    background-color: @color-background-menu;
  }

  &:active {
    background-color: @color-background-menu;
  }
}

.main-navigation__items,
.main-navigation__links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;

  background-color: #FFFFFF;
  box-shadow: 0 8px 0 0 #FFFFFF,
              0 16px 0 0 #FFFFFF;
}

.main-navigation--closed .main-navigation__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3),
              0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-navigation--opened .main-navigation__toggle {
  top: 0;
  right: auto;
  left: 0;

  &::before, &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #FFFFFF;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before, &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.main-navigation__items {
  font-weight: bold;
}

.main-navigation__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;

  font-size: 18px;
  line-height: 24px;
  color: @color-white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: @color-background-menu;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}

.main-navigation__item a[href] {

  &:hover {
    background-color: @color-light-brown;
    border-top-color: @color-light-brown;
  }
}

.main-navigation__item--active a {
  color: rgba(255, 255, 255, 0.3);

  background-color: @color-light-brown;
  border-top-color: @color-light-brown;
}

.main-navigation__links {
  font-size: 0;
  display: flex;
  justify-content:space-around;
  list-style-type:none;
}

.main-navigation__link {
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 20px;

  margin-top: 40px;
  margin-left: 20px;

  &--vk {
    background-image: url("../img/vk.svg");
    background-repeat: no-repeat;
    background-size: 27px 18px;
    background-position: 0 0;
  }

  &--fb {
    background-image: url("../img/facebook.svg");
    background-repeat: no-repeat;
    background-size: 19px 22px;
    background-position: 0 0;
    margin-left: 25px;
  }

  &--inst {
    background-image: url("../img/instagram.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 0 0;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover {
    opacity: 0.2;
  }
}

@media @mobile-width-only {

  .main-navigation--closed .main-navigation__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .main-navigation--closed .main-navigation__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }

  .main-navigation--closed .main-navigation__link {
    display: none;
  }

  .main-navigation--opened .main-navigation__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    height: 120vh;
    background-color: @color-background-menu;
  }

  // shadow in navigation
  .main-navigation--opened .main-navigation__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }

  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }

  .main-navigation--nojs .main-navigation__wrapper {
    position: static;
    height: auto;
  }

  .main-navigation--nojs .main-navigation__item {
    display: block;
  }

  .main-navigation--nojs .main-navigation__link {
    display: inline-block;
  }

  .main-navigation--nojs .main-navigation__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: center;
  }

  .main-navigation--nojs .main-nav__user-items {
    display: block;
    background-color: @color-background-menu;
  }
}

@media @tablet-width {

  .main-navigation {
    width: auto;
    min-height: 70px;
    margin: 0;
    background-color: #000000;
  }

  .main-navigation__wrapper {
    .container-adaptive();
    display: flex;
    justify-content: space-between;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .main-navigation__item {
    margin-right: 0;

    &--active::after {
      right: 30px;
      left: 30px;
    }
  }

  .main-navigation__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    padding-right: 25px;
    padding-left: 25px;
    background: none;
    border: none;
  }

  .main-navigation__item a[href] {
    &:hover {
      color: #d5a353;
      background-color: #3b3a3a;
    }

    &:active {
      color: #FFFFFF;
      background-color: #3b3a3a;
      opacity: 0.3;
    }
  }


  .main-navigation__links {
    width: 200px;
    display: flex;
    flex-direction: row;
  }

  .main-navigation__link {
    margin-top: 28px;
  }
}
